language: php

php:
  - 7.0
  - 7.1
  - 7.2

branches:
  only:
  - master
  - develop

before_script:
  - composer self-update
  - composer update --no-interaction --prefer-source

script:
  - php vendor/bin/phpunit --coverage-clover build/logs/clover.xml
